CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_DRAFT_TOKEN=
CONTENTFUL_REVALIDATION_SECRET=
CONTENTFUL_PREVIEW_SECRET=
VERCEL_AUTOMATION_BYPASS_SECRET=
